
body{
    font-family: 'Baloo 2', cursive;
    background: pink;
    color: grey;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
header{
    background-color:#fff0f5;;
    color:grey;
    text-align:center;
}
.container {
    display: flex;
    align-items: stretch; /* ทำให้ทุก column มีความสูงเท่ากันตาม column ที่สูงที่สุด */
}
.navbar {
    background-color: #fff0f5;
    width: fit-content;
    display: flex;
    flex-direction: column;
}
@media (max-width: 750px) {
    .navbar {
        background-color:#fff0f5;
        width: 100%;
        display: flex;
        flex-direction:row;
        justify-content: space-around;
        max-width: none;
        flex-wrap: wrap;
    }
}

.navbar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.navbar li{
    background-color:#F8D7E3;
    text-align: center;
    margin: 0px 10px 10px 10px;
    padding: 30px;
    display: block;
    color: grey;
    text-decoration: none;
    font-weight: bold;
}
.navbar li a{
    color:grey;
    text-decoration: none;
}

.main{
    background-color:white;
    flex: 1;
    padding: 30px;
    display: flex;
    flex-direction: column;
}
footer {
    background-color: pink;
}
.img{
    border-radius: 10%;
}
.table{
    border: 1px solid grey;
}
.tr{
    text-align: center;
}
