body {
    font-family: 'Baloo 2', cursive;
    background: pink;
    color: grey;
    font-size: calc(16px + 0.5vw);;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    max-width: 70%;
    margin: auto;
}
header{
    background-color:#fff0f5;
    color:grey;
    text-align:left;
    padding-left: 30px;
}
.container {
  display: flex;
  align-items: stretch;
}
.navbar {
  background-color: #fff0f5;
  width: fit-content;
  display: flex;
  flex-direction: column;
}

.navbar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.navbar li{
    background-color:#F8D7E3;
    text-align: center;
    margin: 0px 10px 10px 10px;
    padding: 30px;
    display: block;
    color: grey;
    text-decoration: none;
    font-weight: bold;
}
.navbar li a{
    color:grey;
    text-decoration: none;
}

.main{
    background-color:white;
    flex: 1;
    padding: 30px;
    display: flex;
    flex-direction: column;
}
footer {
    background-color:#fff0f5;
    padding-left: 30px;
}
.img{
    border-radius: 10%;
}
.table{
    border: 1px solid grey;
}
.tr{
    text-align: center;
}
@media (max-width: 750px) {
    .container {
        flex-direction: column;
    }

    .navbar {
        width: 100%;
    }

    .navbar ul {
        display: flex;
        flex-direction: row;
        width: 100%;
        padding: 0;
        margin: 0;
    }


    .navbar li {
        flex: 1;
        margin: 0 2px;
        padding: 15px 5px;
    }
}

@media (max-width: 1000px) {
    .main{
        background-color:white;
        flex: 1;
        padding: 30px;
        display: flex;
        flex-direction: column;
    }
    header{
        background-color:#fff0f5;;
        color:grey;
        text-align:center;
    }
    body {
        font-family: 'Baloo 2', cursive;
        background: pink;
        color: grey;
        font-size: calc(16px + 0.5vw);;
        display: flex;
        flex-direction: column;
        min-height: 100vh;
        max-width: 100%;
        margin: auto;
    }
}
.mainHome{
    background-color:white;
    flex: 1;
    padding: 0px 10px 10px 10px;
}

.calculator {
    background-color: #fce8ee;
    width: 85%;
    margin: 30px auto;
    padding: 30px;
    text-align: center;
    border-radius: 20px;
}

.calculator input {
    padding: 10px;
    margin: 5px;
}

.calculator button {
    background-color: pink;
    padding: 10px 20px;
    margin: 10px 3px;
    border-radius: 8px;
}

.calculator h3 {
    background-color: white;
    padding: 15px;
    border-radius: 10px;
}
.project {
    display: flex;
    align-items: center;
    gap: 30px;
    margin-bottom: 50px;
}

.project img {
    width: 400px;
    max-width: 50%;
}

.project p {
    flex: 1;
    margin: 0;
}

.project-title {
    margin-bottom: 15px;
}


